/* Container */
.container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Left Panel - Enlarged by Default */
.leftPanel {
    background-color: #e0f2f1;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    justify-content: space-between; /* Title on top, image on bottom */
    align-items: center;
    text-align: center;
    flex: 2; /* Larger by default */
    min-height: 510px;
    width: 100%;
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

/* Logo Title - Positioned at Top Left */
.logoTitle {
    color: rgb(44, 101, 101);
    font-size: 26px;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 10px;
}

/* Signup Image - Positioned at Bottom */
.imageWrapper {
    max-width: 100%;
    height: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Right Panel */
.rightPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    text-align: center;
    flex: 1; 
}

/* Form Container */
.formContainer {
    width: 100%;
    max-width: 400px;
}

/* Input Fields */
.inputField {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s;
}

.inputField:focus {
    border-color: teal;
}

/* Submit Button */
.submitButton {
    background-color: teal !important;
    color: white !important;
    border-color: teal !important;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #00796b !important;
    border-color: #00796b !important;
}

/* Login Link */
.link {
    color: teal;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .leftPanel {
        flex: 1; 
        min-height: 400px;
    }

    .rightPanel {
        flex: 1; 
        padding: 20px;
    }

    .imageWrapper {
        max-width: 70%;
    }

    .formContainer {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .leftPanel {
        flex: 1; 
        min-height: 300px;
    }

    .rightPanel {
        flex: 2;
        padding: 15px;
    }

    .imageWrapper {
        max-width: 80%;
    }

    .formContainer {
        width: 100%;
    }

    .submitButton {
        font-size: 14px;
    }
}
