.illustration {
  max-width: 80%;
}
.remember-forgot {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.button {
  width: 100%;
  font-size: 16px;
  background-color: rgb(6, 36, 34);
}

.login-container {
  height: 100vh;
  display: flex;
}

.login-left {
  position: relative;
  background: url("../../src/assets/login-background.png") no-repeat center
    center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cms-logo {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 20%;
}

.login-banner {
  max-width: 100%;
  height: auto;
}

.login-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.role-selection {
  margin-bottom: 4%;
}

.login-form {
  width: 100%;
  max-width: 50%;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #edf4ff !important;
  width: 100%;
}

.ant-menu {
  width: 100% !important;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #edf4ff !important;
  width: 100%;
}

.ant-menu-dark .ant-menu-item-selected .anticon,
.ant-menu-dark .ant-menu-item-selected span {
  color: rgb(6, 36, 34) !important;
  font-weight: bold;
}

:where(.css-dev-only-do-not-override-xex5fb).ant-menu-inline .ant-menu-item,
:where(.css-dev-only-do-not-override-xex5fb).ant-menu-vertical .ant-menu-item,
:where(.css-dev-only-do-not-override-xex5fb).ant-menu-inline
  .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-xex5fb).ant-menu-vertical
  .ant-menu-submenu-title {
  margin-inline: 0px !important;
  border-radius: 0px !important;
}
@media (max-width: 768px) {
  .login-left {
    display: none;
  }
}
