.login-container {
  display: flex;
  height: 100vh;
}
.login-left {
  flex: 1;
  background: #f0f2f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.illustration {
  max-width: 80%;
}
.remember-forgot {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.button {
  width: 100%;
  font-size: 16px;
  background-color: rgba(81, 167, 163, 1);
}
