* {
  font-family: "SiPH Beta" !important;
  font-weight: 500;
}

:root {
  /* color */
  --primary-color: #1890ff;
  --text-color: #333;

  /* font size */
  --font-small: 14px;
  --font-large: 18px;

  /* font weight */

  --font-medium: 500;
}

body {
  color: var(--text-color);
  font-family: "SiPH Beta" !important;
}

@media (max-width: 600px) {
  :root {
    --font-medium: var(--font-small);
    --font-large: var(--font-medium);
  }
}
